.footer {
    background-color: #000000eb;
    color: #fffdfd;
    padding: 20px 0;
    text-align: center;
    width: 100%; 
       position: fixed;
       bottom: 0;
       left: 0;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
 
  .footer-form {
    display: flex;
    align-items: center;
  }
  
  .footer-form input {
    padding: 8px;
    margin-right: 5px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #dedada;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  button {
		padding: 14px 20px;
	text-decoration: none;	
	color: #fff7f7e5;
    background-color: black;
		  
	}
    
 input {
    padding: 10px;
    font-size: 16px;
  }